<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="C:/Users/Akshata/IdeaProjects/DataDrivenTestProject/src/test/java/LoginTestCase/Login_Multiple_Scenario_TC01.java">
        <classes><class name="LoginTestCase.Login_Multiple_Scenario_TC01">
            <methods><include name="SetActionUsername"/></methods>
        </class></classes></test></suite>